:root {
  --bg-color: #F9F6F0;
  --typewriterSpeed: 2.5s;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  min-height: 100vh;
  display: grid;
  place-content: center;
  /*text-align: center;*/
  background: var(--bg-color);
  color: #04052F;
}

h1 {
  font-size: clamp(0.875rem, 2vw + 0.5rem, 4rem);
  position: relative;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0;

}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background-color: var(--bg-color);
  animation: typewriter var(--typewriterSpeed) steps(37) 1s forwards;
}

h1::after {


}

.first {
  &::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed) steps(37) 1s forwards,
    blink 500ms steps(37) infinite,
    disappear var(--typewriterSpeed) 1s steps(37) forwards;

  }
}

.second {

  text-decoration: underline;


  &::before {
    background-color: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(37) calc(var(--typewriterSpeed) + 1s) forwards;
  }
}

.third{
  &::before {
    background-color: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(37) calc(var(--typewriterSpeed) * 2 + 1s) forwards;
  }
}

.forth{
  &::before {
    background-color: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(37) calc(var(--typewriterSpeed) * 3 + 1s) forwards;
  }
}

.fifth{
  &::before {
    background-color: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(37) calc(var(--typewriterSpeed) * 4 + 1s) forwards;
  }
}

.sixth{
  &::before {
    background-color: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(37) calc(var(--typewriterSpeed) * 5 + 1s) forwards;
  }
}

.seventh{
  &::before {
    background-color: var(--bg-color);
    animation: typewriter calc(var(--typewriterSpeed) * 0.7) steps(37) calc(var(--typewriterSpeed) * 6 + 1s) forwards;
  }
}

.eights{
  &::before {
    background-color: var(--bg-color);
    animation: typewriter calc(var(--typewriterSpeed) * 0.7) steps(37) calc(var(--typewriterSpeed) * 7 + 1s) forwards;
  }
}

.ninth{
  &::before {
    background-color: var(--bg-color);
    animation: typewriter calc(var(--typewriterSpeed) * 0.7) steps(37) calc(var(--typewriterSpeed) * 8 + 1s) forwards;
  }
}

.tenth{
  &::before {
    background-color: var(--bg-color);
    animation: typewriter calc(var(--typewriterSpeed) * 0.7) steps(37) calc(var(--typewriterSpeed) * 9 + 1s) forwards;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 0.125em;
  }

}

@keyframes disappear {
  99% {
    width: 0.125em;
  }
  100% {
    width: 0;
  }
}


.subtitle {
  color: hsl(0 0% 0% / 0.7);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 500ms calc(var(--typewriterSpeed) * 8 + 1s) ease forwards;
}

@keyframes fadeInUp {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}